/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Стили блока карты */
.map {
  padding: 80px 0;
}

.map__title {
  margin-bottom: 48px;
}

.map__wrapper {
  position: relative;
  overflow: hidden;
}

/* Анимации */

@-webkit-keyframes move-light {
  from {
    -webkit-transform: translateX(-400px) skewX(45deg);
            transform: translateX(-400px) skewX(45deg);
  }
  to {
    -webkit-transform: translateX(2000px) skewX(45deg);
            transform: translateX(2000px) skewX(45deg);
  }
}

@keyframes move-light {
  from {
    -webkit-transform: translateX(-400px) skewX(45deg);
            transform: translateX(-400px) skewX(45deg);
  }
  to {
    -webkit-transform: translateX(2000px) skewX(45deg);
            transform: translateX(2000px) skewX(45deg);
  }
}

@-webkit-keyframes pin-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pin-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Конец анимаций */

.map__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5em;;
  height: 100%;
  background-color: rgba(255,255,255, 0.4);
  z-index: 1;
  -webkit-transform: translateX(-400px) skewX(45deg);
      -ms-transform: translateX(-400px) skewX(45deg);
          transform: translateX(-400px) skewX(45deg);
  -webkit-animation: move-light 3s;
          animation: move-light 3s;
}

.map__icon {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
}

.map__pin {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 1.7%;
}

.map__pin--first {
  top: 28%;
  left: 20.4%;
  -webkit-animation: pin-show 1s ease-out 1.4s forwards;
          animation: pin-show 1s ease-out 1.4s forwards;
}

.map__pin--second {
  top: 38.6%;
  left: 15.06%;
  -webkit-animation: pin-show 1s ease-out 1s forwards;
          animation: pin-show 1s ease-out 1s forwards;
}

.map__pin--third {
  top: 40.8%;
  left: 9.4%;
  -webkit-animation: pin-show 1s ease-out 0.6s forwards;
          animation: pin-show 1s ease-out 0.6s forwards;
}

.map__pin--fourth {
  top: 52.5%;
  left: 9.7%;
  -webkit-animation: pin-show 1s ease-out 0.4s forwards;
          animation: pin-show 1s ease-out 0.4s forwards;
}

.map__pin--fifth {
  top: 38.7%;
  left: 26.7%;
  -webkit-animation: pin-show 1s ease-out 1.6s forwards;
          animation: pin-show 1s ease-out 1.6s forwards;
}

.map__pin--six {
  top: 50.8%;
  left: 19.13%;
  -webkit-animation: pin-show 1s ease-out 0.8s forwards;
          animation: pin-show 1s ease-out 0.8s forwards;
}

.map__pin--seven {
  top: 49.8%;
  left: 26.8%;
  -webkit-animation: pin-show 1s ease-out 1.2s forwards;
          animation: pin-show 1s ease-out 1.2s forwards;
}

.map__pin--eight {
  top: 55.2%;
  left: 31.92%;
  -webkit-animation: pin-show 1s ease-out 1.8s forwards;
          animation: pin-show 1s ease-out 1.8s forwards;
}

.map__pin--nine {
  top: 59.3%;
  left: 39.74%;
  -webkit-animation: pin-show 1s ease-out 2s forwards;
          animation: pin-show 1s ease-out 2s forwards;
}

.map__footer {
  padding: 1.2rem 1.5%;
  background-color: #F8F9FA;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.map__text {
  font-family: "GothamPro", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #212429;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* Media выражения */
@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
  .section__title {
    padding: 0 16px;
  }
  .map__footer {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (max-width: 768px) {
  .map {
    padding: 32px 0;
  }
  .map .container {
    padding: 0;
  }
  .map__footer {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media (max-width: 711px) {
  .map__title {
    margin-bottom: 16px;
  }
  .map__text {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}