/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Стили блока истории */
.product-card {
  padding: 80px 0;
}
.product-card .breadcrumbs__item {
  font-size: 1.2rem;
}
.product-card__btn {
  font-family: "GothamPro", sans-serif;
  display: block;
  margin: 0 auto;
  padding: 16px;
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  background-color: #FF6600;
  color: #fff;
  cursor: pointer;
}

.product-card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}

.product-card__table {
  width: 100%;
}

.galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
  width: calc(100% - 420px);
  max-height: 602px;
}

.galery__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1053px;
  max-height: 602px;
  overflow: hidden;
}

.galery__box img {
  height: 100%;
  min-width: 1053px;
}

.galery__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 2px;
  margin-right: 8px;
  min-width: 115px;
  overflow: auto;
  scrollbar-color: #000066 #F8F9FA;
  scrollbar-width: thin;
}

.galery__nav::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
  background-color: #F8F9FA;
}
.galery__nav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #000066;
}

.galery__nav .galery__item {
  margin-bottom: 8px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  min-width: 106px;
}

.galery__nav .galery__item:hover {
  opacity: 1;
}

.galery__nav .galery__item-active {
  opacity: 1;
}

.galery__nav .galery__item-active img {
  border: 3px solid #FF6600;
}

.galery__nav .galery__item img {
  width: 106px;
  height: 65px;
}

.info-table {
  width: 100%;
  margin-bottom: 6px;
  border-collapse: collapse;
}
.info-table__line:nth-child(odd) {
  background-color: #F8F9FA;
}
.info-table__line:nth-child(even) {
  background-color: #E9ECEF;
}
.info-table__item {
  padding: 8px 12px;
  font-family: "GothamPro", sans-serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
  color: #212529;
  border: 4px solid #fff;
}
.info-table__item:nth-child(1) {
  width: 208px;
  border-left: 0;
}
.info-table__item:nth-child(2) {
  width: 212px;
  border-right: 0;
}

.tabs-info__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          align-items: flex-start;
  overflow-x: auto;
  height: 67px;
  scrollbar-width: thin;
}

.tabs-info__wrapper::-webkit-scrollbar {
  height: 0;
}


.tabs-info__item {
  position: relative;
  margin-right: 16px;
  padding-bottom: 17px;
  font-family: "GothamPro", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #212529;
  cursor: pointer;
  white-space: nowrap;
  z-index: 1;
}
.tabs-info__item:last-child {
  margin-right: 0;
}

.tabs-info__item-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #FF6600;
}

.tabs-info__item-active {
  color: #FF6600;
}

.tabs-info__content {
  margin: 0;
  margin-top: -12px;
  padding: 32px 16px;
  list-style: none;
  border-top: 2px solid #CED4DA;
}

.tabs-info__dir {
  display: none;
}

.tabs-info__dir-active {
  display: block;
}

.tabs-info__title {
  display: inline-block;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.1rem;
  letter-spacing: 0.01em;
  color: #000066;
}

.tabs-info__body--sertificate {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(168px, 1fr) 2% minmax(168px, 1fr) 2% minmax(168px, 1fr) 2% minmax(168px, 1fr);
  grid-template-columns: repeat(4, minmax(168px, 1fr));
  grid-gap: 2%;
}

.tabs-info__text {
  font-family: "GothamPro", sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #212529;
}

/* Media выражения */
@media (max-width: 1024px) {
  .tabs-info {
    padding: 0 16px;
  }
  .tabs-info__content {
    padding: 24px 0 0 0;
  }
}

@media (max-width: 890px) {
  .galery {
    margin-bottom: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
  .product-card {
    padding: 32px 0;
  }
  .production__header {
    padding: 0 40px;
  }
  .product-card__wrapper {
    margin-bottom: 50px;
    padding: 0 40px;
  }
  .galery__box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16px;
    max-height: 400px;
  }
  .galery__box img {
    min-width: 100%;
  }
  .galery__nav .galery__item {
    margin-right: 8px;
    margin-bottom: 0;
  }
  .galery__nav {
    padding-right: 0;
    padding-bottom: 2px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product-card__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tabs-info {
    padding: 0;
  }
  .tabs-info__header {
    padding: 0 57px;
  }
  .tabs-info__title {
    margin-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .tabs-info__body {
    padding: 0 12px;
  }
}

@media (max-width: 768px) {
  .product-card .container {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .tabs-info__body--sertificate {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(155px, 1fr) 2% minmax(155px, 1fr);
    grid-template-columns: repeat(2, minmax(155px, 1fr));
    grid-gap: 2%;
  }
}

@media (max-width: 500px) {
  .product-card .container {
    padding: 0;
  }
  .product-card__wrapper {
    padding: 0;
  }
  .production__header {
    padding: 0 16px;
  }
  .product-card__btn {
    width: 90%;
  }
  .tabs-info__header {
    padding-left: 16px;
    padding-right: 16px;
  }
  .tabs-info__content {
    margin-top: -11px;
    padding-top: 16px;
  }
  .tabs-info__wrapper {
    height: 50px;
  }
  .tabs-info__item {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .tabs-info__title {
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.85rem;
  }
  .tabs-info__text {
    font-size: 0.8rem;
    line-height: 1rem;
    color: #212529;
  }
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}