/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Стили блока продукции */
.production {
  padding: 80px 0;
}
.production__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.production__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 43px;
}
.production__search {
  position: relative;
  display: block;
  margin-right: 46px;
  min-width: 319px;
}
.production__search::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 44px;
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: url('../img/Search.svg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.production__search-input {
  font-family: "GothamPro", sans-serif;
  padding: 0.35rem 2.2rem 0.35rem 4rem;
  width: 100%;
  max-width: 318px;
  border: 1px solid #000066;
  color: #000066;
  font-weight: 500;
  line-height: 1.6rem;
}

.production__search-input::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.6rem;
  color: #000066;
}

.production__search-input::-moz-placeholder {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.6rem;
  color: #000066;
}

.production__search-input:-ms-input-placeholder {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.6rem;
  color: #000066;
}

.production__search-input::-ms-input-placeholder {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.6rem;
  color: #000066;
}

.production__search-input::placeholder {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.6rem;
  color: #000066;
}

.catalog {
  display: block;
  margin-right: 48px;
  padding: 24px 24px 40px;
  width: 100%;
  max-width: 318px;
  min-width: 240px;

  background-color: #F8F9FA;
}
.catalog__title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.01em;
  color: #000066;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog__item {
  border-bottom: 1px solid #DEE2E6;
}
.catalog__item:last-child {
  border-bottom: none;
}
.catalog__link {
  position: relative;
  display: inline-block;
  padding: 16px 32px 16px 0;
  width: 100%;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #212529;
}
.catalog__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.645673 13.3539C0.59911 13.3075 0.562167 13.2523 0.53696 13.1915C0.511754 13.1308 0.498779 13.0657 0.498779 12.9999C0.498779 12.9341 0.511754 12.869 0.53696 12.8083C0.562167 12.7475 0.59911 12.6923 0.645673 12.6459L6.29267 6.9999L0.645673 1.3539C0.599185 1.30741 0.562309 1.25222 0.537149 1.19148C0.51199 1.13074 0.499041 1.06564 0.499041 0.999899C0.499041 0.934155 0.51199 0.869055 0.537149 0.808315C0.562309 0.747576 0.599185 0.692387 0.645673 0.645899C0.692161 0.599411 0.74735 0.562534 0.808089 0.537375C0.868829 0.512217 0.933929 0.499268 0.999673 0.499268C1.06542 0.499268 1.13052 0.512217 1.19126 0.537375C1.252 0.562534 1.30718 0.599411 1.35367 0.645899L7.35367 6.6459C7.40024 6.69235 7.43718 6.74752 7.46238 6.80827C7.48759 6.86901 7.50057 6.93413 7.50057 6.9999C7.50057 7.06567 7.48759 7.13079 7.46238 7.19153C7.43718 7.25228 7.40024 7.30746 7.35367 7.3539L1.35367 13.3539C1.30723 13.4005 1.25205 13.4374 1.19131 13.4626C1.13056 13.4878 1.06544 13.5008 0.999673 13.5008C0.933906 13.5008 0.868784 13.4878 0.808039 13.4626C0.747294 13.4374 0.692118 13.4005 0.645673 13.3539Z' fill='%236C757D'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.catalog__link:hover {
  font-weight: 700;
  color: #000066;
}

.catalog__link:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.645673 13.3539C0.59911 13.3075 0.562167 13.2523 0.53696 13.1915C0.511754 13.1308 0.498779 13.0657 0.498779 12.9999C0.498779 12.9341 0.511754 12.869 0.53696 12.8083C0.562167 12.7475 0.59911 12.6923 0.645673 12.6459L6.29267 6.9999L0.645673 1.3539C0.599185 1.30741 0.562309 1.25222 0.537149 1.19148C0.51199 1.13074 0.499041 1.06564 0.499041 0.999899C0.499041 0.934155 0.51199 0.869055 0.537149 0.808315C0.562309 0.747576 0.599185 0.692387 0.645673 0.645899C0.692161 0.599411 0.74735 0.562534 0.808089 0.537375C0.868829 0.512217 0.933929 0.499268 0.999673 0.499268C1.06542 0.499268 1.13052 0.512217 1.19126 0.537375C1.252 0.562534 1.30718 0.599411 1.35367 0.645899L7.35367 6.6459C7.40024 6.69235 7.43718 6.74752 7.46238 6.80827C7.48759 6.86901 7.50057 6.93413 7.50057 6.9999C7.50057 7.06567 7.48759 7.13079 7.46238 7.19153C7.43718 7.25228 7.40024 7.30746 7.35367 7.3539L1.35367 13.3539C1.30723 13.4005 1.25205 13.4374 1.19131 13.4626C1.13056 13.4878 1.06544 13.5008 0.999673 13.5008C0.933906 13.5008 0.868784 13.4878 0.808039 13.4626C0.747294 13.4374 0.692118 13.4005 0.645673 13.3539Z' fill='%23000066'/%3E%3C/svg%3E%0A");
}

.catalog__item-active .catalog__link{
  font-weight: 700;
  color: #000066;
}
.catalog__item-active .catalog__link::after{
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.645673 13.3539C0.59911 13.3075 0.562167 13.2523 0.53696 13.1915C0.511754 13.1308 0.498779 13.0657 0.498779 12.9999C0.498779 12.9341 0.511754 12.869 0.53696 12.8083C0.562167 12.7475 0.59911 12.6923 0.645673 12.6459L6.29267 6.9999L0.645673 1.3539C0.599185 1.30741 0.562309 1.25222 0.537149 1.19148C0.51199 1.13074 0.499041 1.06564 0.499041 0.999899C0.499041 0.934155 0.51199 0.869055 0.537149 0.808315C0.562309 0.747576 0.599185 0.692387 0.645673 0.645899C0.692161 0.599411 0.74735 0.562534 0.808089 0.537375C0.868829 0.512217 0.933929 0.499268 0.999673 0.499268C1.06542 0.499268 1.13052 0.512217 1.19126 0.537375C1.252 0.562534 1.30718 0.599411 1.35367 0.645899L7.35367 6.6459C7.40024 6.69235 7.43718 6.74752 7.46238 6.80827C7.48759 6.86901 7.50057 6.93413 7.50057 6.9999C7.50057 7.06567 7.48759 7.13079 7.46238 7.19153C7.43718 7.25228 7.40024 7.30746 7.35367 7.3539L1.35367 13.3539C1.30723 13.4005 1.25205 13.4374 1.19131 13.4626C1.13056 13.4878 1.06544 13.5008 0.999673 13.5008C0.933906 13.5008 0.868784 13.4878 0.808039 13.4626C0.747294 13.4374 0.692118 13.4005 0.645673 13.3539Z' fill='%23000066'/%3E%3C/svg%3E%0A");
}

.production__side {
  display: block;
  width: calc(100% - 318px);
  max-width: 1234px;
}

.breadcrumbs {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  word-wrap: break-word;
}
.breadcrumbs__item {
  display: inline;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.1rem;
  letter-spacing: 0.01em;
  color: #000066;
}
.breadcrumbs__link {
  color: #6C757D;
}
.breadcrumbs__link::after {
  content: "/";
  margin-left: 5px;
}

.production__image {
  display: block;
  margin-bottom: 32px;
}
.production__description {
  margin-bottom: 32px;

  font-family: "GothamPro", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
}
.production__prod {
  margin: 0;
  padding: 0;
  list-style: none;
}
.production__prod-item {
  margin-top: -1px;
  border: 1px solid #DEE2E6;
}
.production__prod-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 64px 24px 24px;
}
.production__prod-link::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 24px;
  display: block;
  width: 24px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='14' viewBox='0 0 24 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2908 0.293723C16.3837 0.200617 16.494 0.126747 16.6155 0.076345C16.737 0.0259431 16.8672 0 16.9987 0C17.1303 0 17.2605 0.0259431 17.382 0.076345C17.5035 0.126747 17.6138 0.200617 17.7067 0.293723L23.7062 6.29242C23.7994 6.38529 23.8732 6.49562 23.9236 6.61708C23.9741 6.73854 24 6.86876 24 7.00026C24 7.13177 23.9741 7.26198 23.9236 7.38345C23.8732 7.50491 23.7994 7.61524 23.7062 7.70811L17.7067 13.7068C17.5189 13.8945 17.2643 14 16.9987 14C16.7332 14 16.4785 13.8945 16.2908 13.7068C16.103 13.5191 15.9975 13.2644 15.9975 12.999C15.9975 12.7335 16.103 12.4788 16.2908 12.2911L21.5844 7.00026L16.2908 1.70941C16.1977 1.61654 16.1238 1.50622 16.0734 1.38475C16.023 1.26329 15.997 1.13307 15.997 1.00157C15.997 0.870063 16.023 0.739849 16.0734 0.618385C16.1238 0.496921 16.1977 0.386594 16.2908 0.293723Z' fill='%23000066'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 7.00027C0 6.73511 0.105349 6.48082 0.292872 6.29332C0.480394 6.10582 0.734729 6.00049 0.999926 6.00049H21.9984C22.2636 6.00049 22.5179 6.10582 22.7054 6.29332C22.8929 6.48082 22.9983 6.73511 22.9983 7.00027C22.9983 7.26543 22.8929 7.51973 22.7054 7.70723C22.5179 7.89472 22.2636 8.00005 21.9984 8.00005H0.999926C0.734729 8.00005 0.480394 7.89472 0.292872 7.70723C0.105349 7.51973 0 7.26543 0 7.00027Z' fill='%23000066'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.production__prod-link:hover {
  background-color: #FF6600;
}

.production__prod-link:hover  .production__prod-text {
  color: #fff;
}

.production__prod-link:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='14' viewBox='0 0 24 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2908 0.293723C16.3837 0.200617 16.494 0.126747 16.6155 0.076345C16.737 0.0259431 16.8672 0 16.9987 0C17.1303 0 17.2605 0.0259431 17.382 0.076345C17.5035 0.126747 17.6138 0.200617 17.7067 0.293723L23.7062 6.29242C23.7994 6.38529 23.8732 6.49562 23.9236 6.61708C23.9741 6.73854 24 6.86876 24 7.00026C24 7.13177 23.9741 7.26198 23.9236 7.38345C23.8732 7.50491 23.7994 7.61524 23.7062 7.70811L17.7067 13.7068C17.5189 13.8945 17.2643 14 16.9987 14C16.7332 14 16.4785 13.8945 16.2908 13.7068C16.103 13.5191 15.9975 13.2644 15.9975 12.999C15.9975 12.7335 16.103 12.4788 16.2908 12.2911L21.5844 7.00026L16.2908 1.70941C16.1977 1.61654 16.1238 1.50622 16.0734 1.38475C16.023 1.26329 15.997 1.13307 15.997 1.00157C15.997 0.870063 16.023 0.739849 16.0734 0.618385C16.1238 0.496921 16.1977 0.386594 16.2908 0.293723Z' fill='%23FFFFFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 7.00027C0 6.73511 0.105349 6.48082 0.292872 6.29332C0.480394 6.10582 0.734729 6.00049 0.999926 6.00049H21.9984C22.2636 6.00049 22.5179 6.10582 22.7054 6.29332C22.8929 6.48082 22.9983 6.73511 22.9983 7.00027C22.9983 7.26543 22.8929 7.51973 22.7054 7.70723C22.5179 7.89472 22.2636 8.00005 21.9984 8.00005H0.999926C0.734729 8.00005 0.480394 7.89472 0.292872 7.70723C0.105349 7.51973 0 7.26543 0 7.00027Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
}

.production__prod-text {
  font-family: "GothamPro";
  font-size: 1rem;
  line-height: 1.6rem;
  color: #212529;
}
.production__prod-image {
  margin-right: 16px;
  max-width: 80px;
}

/* Media выражения */
@media (max-width: 1023px) {
  .catalog {
    max-width: calc(100% - 661px);
  }
  .production__search {
    width: calc(100% - 661px);
    min-width: 232px;
  }
}

@media (max-width: 890px) {
  .catalog {
    display: none;
  }
  .production__side {
    width: 100%;
  }
  .production .container {
    padding: 0 5%;
  }
  .production__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .production__search {
    min-width: 318px;
    margin-bottom: 32px;
  }
}

@media (min-width: 890px) and (max-width: 1023px) {
  .production__search::before {
    left: 7%;
  }
  .production__search-input {
    padding: 0.35rem 2% 0.35rem 20%;
  }
  .production__side {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .production {
    padding: 32px 0;
  }
}

@media (max-width: 530px) {
  .production .container {
    padding: 0;
  }
  .production__header {
    padding: 0 16px;
    margin-bottom: 16px;
  }
  .production__search {
    margin: 0 auto 16px;
    min-width: 100%;
  }
  .production__search::before {
    left: 6%;
  }
  .production__search-input {
    padding-right: 8%;
    padding-left: 16%;
  }
  .breadcrumbs__item {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .production__image {
    margin-bottom: 0;
  }
  .production__description {
    margin-bottom: 0;
    padding: 16px;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .production__prod-text {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}