/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Стили блока проектов */
.projects {
  padding: 80px 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.projects__title {
  display: inline-block;
  margin-bottom: 48px;
}

.projects__wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 2px;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(4, 1fr);
}

.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  text-align: center;
  overflow: hidden;
}

.projects__image {
  min-width: 400px;
  max-height: 268px;
  min-height: 268px;
  margin-bottom: 16px;
}

.projects__head {
  display: inline-block;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #212529;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;
}

.projects__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 6%;
  width: 100%;
  height: 100%;
}

.projects__text {
  margin-bottom: 16px;
  font-family: "GothamPro", sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #212529;
}

.projects__link {
  position: relative;

  display: inline-block;
  margin-top: auto;
  padding: 0.4rem 19% 0.4rem 19%;

  font-family: "GothamPro", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #000066;

  border: 1px solid #000066;
  background-color: #fff;

  -webkit-transition: color 0.4s, -webkit-box-shadow 0.4s linear;

  transition: color 0.4s, -webkit-box-shadow 0.4s linear;

  -o-transition: box-shadow 0.4s linear, color 0.4s;

  transition: box-shadow 0.4s linear, color 0.4s;

  transition: box-shadow 0.4s linear, color 0.4s, -webkit-box-shadow 0.4s linear;
}

.projects__link:hover {
  color: #fff;
  -webkit-box-shadow: inset 19rem 0 #000066;
          box-shadow: inset 19rem 0 #000066;
}

.projects__link:hover .projects__icon{
  fill: #fff;
}

.projects__icon {
  margin-left: 16px;
  -webkit-transition: fill 0.6s;
  -o-transition: fill 0.6s;
  transition: fill 0.6s;
}

/* Media выражения */

@media (max-width: 1920px) {
  .projects__link {
    padding-right: 14%;
    padding-left: 14%;
  }
}

@media (max-width: 1440px) {
  .projects__body {
    padding: 0 3%;
  }
  .projects__link {
    padding-right: 4%;
    padding-left: 4%;
  }
}

@media (max-width: 1024px) {
  .projects__title {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .projects {
    padding: 32px 0;
  }
  .projects__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(225px, 1fr));
    grid-template-columns: repeat(2, minmax(225px, 1fr));
  }
  .projects__title {
    padding: 0;
  }
}

@media (max-width: 711px) {
  .projects__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }
  .projects__head {
    margin-bottom: 8px;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .projects__title {
    margin-bottom: 16px;
  }
}

@media (max-width: 430px) {
  .projects__title {
    padding: 0 16px;
  }
}